--[[ 配置选项（这些选项必须由主配置进行配置)
thread     = 8                 -- [必须] 工作线程数量
harbor     = 1                 -- [必须] 节点号， 不同节点的节点号必须不同
address    = "127.0.0.1:2526"  -- [必须] 节点的cslave绑定地址和端口
start      = "main"            -- [必须] 主脚本，启动服务
snax       = ""                -- [可选] 项目的snax位置
preload    = ""                -- [可选]
standalone = "0.0.0.0:2013"    -- [可选] 表示主节点
master     = "127.0.0.1:2013"  -- [可选] 当为主节点时，表示控制中心cmaster的地址和端口。通常核standalone项相同。
daemon     = "skynet.pid"      -- [可选] 是否时守护进程（生产使用， 配合日志文件使用）
--]]

-- 基础路径配置
root         = root or "./"          -- [必须] 工程外部化后， 必须使用绝对路径
p_root       = p_root or root        -- [必须] 自定义的项目根目录
p_luaservice = p_luaservice or ""    -- [必须] 项目的lua服务位置
p_lua_path   = p_lua_path or ""      -- [可选] 项目lua库位置
p_lua_cpath  = p_lua_cpath or ""     -- [可选] 项目lua c模块位置
p_cpath	     = p_cpath or ""         -- [可选] 用C编写的服务模块位置
logger       = logger or nil         -- [可选] 日志文件名称，默认nil表示输出到标准输出
logpath      = logpath or "."        -- [可选] 日志文件目录

-- 路径配置
lualoader  = root.."lualib/loader.lua"
luaservice = root.."service/?.lua;"..p_luaservice
lua_path   = root.."lualib/?.lua;"..root.."lualib/?/init.lua;"..p_lua_path
lua_cpath  = root.."luaclib/?.so;"..p_lua_cpath
-- 用C编写的服务模块位置，通常为cservice目录下的.so动态库文件.
cpath      = root.."cservice/?.so;"..p_cpath

-- 启动配置，一般不需要修改
bootstrap = bootstrap or "snlua bootstrap"

